$primary-050: #f6f0e3;
$primary-100: #ead9b9;
$primary-200: #ddc08d;
$primary-400: #c9984d;

$grayscale-100: #f5f5f5;
$grayscale-200: #eee;
$grayscale-600: #757575;
$grayscale-800: #424242;
$grayscale-900: #212121;

$black: #000;
$white: #fff;
