.products {
  margin-bottom: 64px;

  &-new {
    margin-bottom: 64px;
  }

  .splide__arrow {
    width: 56px;
    height: 56px;
    border-radius: 200px;
    border: 1px solid rgba(0, 0, 0, 0.08);
    background: #fff;
    opacity: 1;
    top: 154px;
    transform: translateY(0%);
    &--prev {
      left: -28px;
    }
    &--next {
      right: -28px;
    }

    &:disabled {
      opacity: 1;
    }
  }
}

.product {
  position: relative;
  max-width: 328px;

  &__category {
    position: absolute;
    top: 12px;
    left: 12px;
  }

  &__img {
    width: 100%;
    margin-bottom: 16px;
  }

  &__text {
    @include jakarta(14px, 20px);
    margin-bottom: 4px;
  }

  &__text-sm {
    @include jakarta(12px, 20px);
  }

  &__price {
    display: flex;
    gap: 8px;
    .fw-500 {
      text-decoration: line-through;
    }
  }
}

.new {
  padding: 4px 8px;
  @include jakarta(11px, 16px, 1px);
  text-transform: uppercase;
  background-color: $white;
  color: $black;
  font-weight: 700;
}

.discount {
  background-color: $primary-050;
  color: $grayscale-900;
}

.grayscale600 {
  color: $grayscale-600;
}

.checkout-mirrors {
  margin-bottom: 64px;
  .container {
    padding: 0;
  }
}

.promo {
  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 24px;
  }

  &__col {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 12px;
      width: calc(100% - 24px);
      height: 100%;
      opacity: 0.23999999463558197;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%);
    }
    position: relative;
    padding: 0 12px;
    flex: 0 0 50%;
    max-width: 50%;
  }

  &__img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    height: 100%;
  }

  &__text {
    width: 100%;
    position: absolute;
    padding: 48px;
    bottom: 0;
    left: 0;
    .heading-tertiary {
      color: $white;
    }
  }
}

.splide-gallery,
.splide-gallery-reverse {
  max-width: 948px;
  width: 100%;
}

.gallery {
  padding: 104px 0;
  position: relative;
  margin-bottom: 64px;
  display: flex;
  gap: 141px;

  &-reverse {
    justify-content: end;

    .gallery__bg {
      left: unset;
      right: 32px;
      &-img {
        left: unset;
        right: 0;
      }
    }
  }

  &__container {
    position: relative;
    z-index: 10;
  }

  &__bg {
    width: 1151px;
    height: 771px;
    background-color: $primary-050;
    position: absolute;
    top: 0;
    z-index: -1;
    left: 32px;

    &-box {
      position: relative;
      width: 100%;
      height: 100%;
    }

    &-img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
    }
  }

  &__box {
    max-width: 563px;
    &-line {
      width: 32px;
      height: 2px;
      background-color: $primary-800;
      margin-top: 16px;
      flex-shrink: 0;
    }

    &-sm {
      max-width: 499px;
    }

    .bold-jakarta {
      @include jakarta(18px, 32px);
      margin-bottom: 12px;
    }

    .thin-jakarta {
      @include jakarta(18px, 28px);
      margin-bottom: 32px;
      color: $grayscale-800;
    }
  }
}

.slide__gallery {
  max-width: 563px;
}

.slide__gallery-img {
  width: 100%;
}

.instagram__splide {
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
}

.insta {
  &__slide {
    max-width: 320px;
    max-height: 320px;
    overflow: hidden;
  }

  &__img {
    width: 100%;
    transition: 0.3s transform;
    &:hover {
      transform: scale(1.1);
    }
  }

  &__link {
    display: grid;
    place-content: center;
    width: 48px;
    height: 48px;
    border-radius: 200px;
    background-color: $primary-200;

    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s all;

    &:hover {
      width: 58px;
      height: 58px;
      background-color: #b16625;
    }
  }
}

@media (max-width: 1680px) {
  .gallery {
    padding-right: 15px;
    gap: 32px;
    justify-content: space-between;
    &-reverse {
      padding-right: 0;
      padding-left: 15px;
    }
  }
}

@media (max-width: 1410px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (max-width: 1200px) {
  .products {
    .splide__arrow {
      display: none;
    }
  }

  .padr-15 {
    padding-right: 15px;
  }
}

@media (max-width: 1063px) {
  .gallery__box {
    .ai-fs {
      flex-direction: column;
    }

    &-line {
      margin-top: unset;
    }

    .heading-secondary {
      font-size: 32px;
      line-height: 36px;
    }
    .bold-jakarta {
      font-size: 16px;
      line-height: 28px;
    }
    .thin-jakarta {
      font-size: 14px;
      line-height: 24px;
    }
  }
}

@media (max-width: 870px) {
  .product {
    max-width: 254px;
  }

  .products-new {
    margin-bottom: 56px;
  }

  .promo__col {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .gallery {
    margin-bottom: 15px;
    &-reverse {
      margin-bottom: 47px;
      flex-direction: column-reverse;
      .gallery__bg {
        right: unset;
        left: 16px;
      }
    }
    padding: 48px 0 40px 0;
    &__bg {
      width: calc(100% - 31px);
      left: 16px;
      height: 100%;
      overflow: hidden;
    }

    &__container {
      width: 100%;
    }

    .gallery__box {
      max-width: calc(100% - 79px);
      margin-left: 40px;
    }

    flex-direction: column;
  }
}

@media (max-width: 425px) {
  .insta {
    &__slide {
      max-width: 278px;
    }
  }

  .products {
    .container {
      padding: 0 0 0 16px !important;
    }
  }

  .promo__col {
    max-width: 375px;
    max-height: 375px;
  }
}
